{% extends 'account/base.html' %}

{% block content %}
  <div>
    <h1>{{ account.name }}</h1>
  </div>
  <div>
    {% if account.type.id == 1 %}
    <p>{{ account.quantity_money }} / {{ account.target }}</p>
    {% else %}
    {{ account.quantity_money }}
    {% endif %}
  </div>
  <div>
    <h3>Your operations with {{ account.name }}</h3>
    <form action="{% url 'Accounts:account' account.id %}" method="post">
    {% csrf_token %}
      <div>
        {{ form.as_p }}
        <input type="submit" value="Add">
      </div>
    </form>
    {% for operation in operations %}
      <div>
        {{ operation.category.name }}
      </div>
      <div>
        {{ operation.price }}
      </div>
      <div>
        {{ operation.date }}
      </div>
      <div>
        <p><a href="{% url 'Accounts:DeleteOperation' operation.id %}">Delete</a></p>
      </div>
    {% endfor %}
  </div>
{% endblock %}