{% extends 'account/base.html' %}

{% block content %}
  <div>
    <h1>Total Sum: {{ all_money.quantity_money__sum }}</h1>
  </div>
  <div>
    <h1>Your accounts</h1>
    <a href="{% url 'Accounts:CreateAccount' %}"><h1>Add new account</h1></a>
    {% for account in accounts %}
      <div>
        <a href="{% url 'Accounts:account' account.id %}"><h1>{{ account.name }}</h1></a>
      </div>
      <div>
        {% if account.type.id == 1 %}
        <p>{{ account.quantity_money }} / {{ account.target }}</p>
        {% else %}
        {{ account.quantity_money }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div>
    <h2>Last Operation</h2>
    <ul>
      {% for operation in last_operation %}
        <li>{{ operation.category }}, {{ operation.price }}, {{ operation.date }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}