<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'account/base.css' %}" rel="stylesheet">
    {% block style %} {% endblock %}
</head>
<body>
    <div class="head">
        <a class="button" href="{% url 'Accounts:accounts' %}">Home</a>
        <a class="button" href="{% url 'Accounts:operations' 1 %}">Operations</a>
        <a class="button" href="{% url 'Accounts:CreateOperation' %}">New Operation</a>
        <a class="button" href="{% url 'Accounts:Limit' %}">Budgets</a>
        <a class="button" href="{% url 'Accounts:profile' %}">Profile</a>
    </div>
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>