{% extends 'account/base.html' %}
{% block head %}
{{ head }}
{% endblock %}
{% block style %}
  {% load static %}
  <link href="{% static 'account/profile.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="head">
    <a class="button" href="{% url 'Accounts:accounts' %}">My Accounts</a>
  </div>
  <div class="head">
    {% if user.is_authenticated %}
      <a class="buttonExit" href="{% url 'users:exit' %}">Exit</a>
    {% else %}
      <a class="button" href="{% url 'users:login' %}">Authorization</a>
      <a class="button" href="{% url 'users:registration' %}">Registration</a>
    {% endif %}
  </div>
{% endblock %}