<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'users/base.css' %}" rel="stylesheet"/>
    {% block style %} {% endblock %}
</head>
<body>
    <div class="head">
        <a class="button" href="{% url 'Accounts:accounts' %}">My Accounts</a>
        <a class="button" href="{% url 'users:login' %}">Authorization</a>
        <a class="button" href="{% url 'users:registration' %}">Registration</a>
    </div>
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>